/*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}*/


/*-------------------------HEADER----------------------------*/
header{
    height: 32vh;
}

.banderilla__header{
    /*margin-top: 2rem;*/
    height: 24rem;
    background: linear-gradient(to bottom right, rgb(113, 116, 115), rgb(20, 20, 20));
}

.caja__header{
    /*border: solid gray 1px;*/
    width: 80vw;
    margin: 0 auto;
}


.logo__header{
    width: 20rem;
    display: inline-block;
    margin-top: .5rem;
    /*border: solid gray 1px;*/
}

/*.logo__header:hover{
    box-shadow: inset;
}*/

.banderilla__titles{
    color: aliceblue;
    display: inline-block;
    position: relative;
    bottom: 6rem;
    left: 2rem;
    /*bottom: 0rem;
    left: 10rem;*/
    font-weight: bolder;
    font-size: 6rem;
    /*border: solid rgb(141, 48, 48) 1px;*/
}

.banderilla__titles h2{
    color: rgb(141, 138, 138);
    font-size: 4rem;
}

nav{
    text-align: right;
    margin-right: 1rem;
}
nav li{
    display: inline-block;
    margin: 1rem 1rem;
}

nav a{
    text-transform: uppercase;
    color: rgb(194, 192, 192);
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
}

nav a:hover{
    color: goldenrod;
    text-shadow: 2px 2px 4px gray ;
    text-decoration: underline;
}

/*-------------------------BODY----------------------------*/

main{
    /*background-color: rgb(246, 255, 255);*/
    height: 48vh;
    text-align: center;
    /*background-color: rgb(211, 209, 206);*/
}

.services__menu{
    /*border: solid rgb(171, 42, 197) 1px;*/
    padding: 2rem;
    height: 100%;

}

.services__menu li{
    display: inline-block;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 2rem;
    border-top-width: 2rem;
    border-bottom-width: 2rem;
    padding: 4px;
    /*text-align: center;*/
    max-width: 20%;
    min-height: 50%;
    vertical-align: top;
    margin: 0 1%;
    /*background-color: rgb(216, 218, 219);*/
    box-sizing: border-box;
}

.services__menu li:hover{
    border-color: goldenrod;
    box-shadow: 4px 4px 8px gray;
}

.services__menu li:active{
    border-color: rgb(179, 103, 17);
}

.icon__container{

    height: 16rem;
    display: flex;
    align-items: center;
    /*border: solid rgb(39, 228, 32) 1px;*/
    margin-top: 1rem;

}

.services__menu img{
    width: 80%;
    margin: 0 auto;
   /* border: solid rgb(201, 75, 75) 1px;*/
}

.services__menu h2{
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: bold;
    height: 2rem;    
    margin-bottom: 1rem;
}

.services__menu li:active h2{
    font-size: 1.6rem;
}

.service_textone{
    padding: 8px;
    height: 3rem;
    margin-top: 1rem;
    font-size:1rem;
    font-weight: bolder;
    /*border: solid rgb(201, 75, 75) 1px;*/
    text-align: center;
}

.service_texttwo{
    height:3rem;
    font-size: 1rem ;
    color: rgb(116, 114, 114);
    margin-top: 1rem;
    /*border: solid rgb(201, 75, 75) 1px;*/
    text-align: center;

}
/*-------------------------FOOTER----------------------------*/

footer{
    background-image: url(/Src/IMG_Ribbon_Blacktexture.png);
    height: 20vh;
    text-align: center;
}

footer img{
    margin-top: 3rem;
    width: 8rem;
}

.copy__text{
    color: azure;
    font-size: 1rem;
    margin: 2rem;
}


